.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-image: linear-gradient(to left, #0F2027 0%, #203A43 50%, #2C5364 100%);
  border-radius: 20px;
  width: 25vw;
  height: 30vh;
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3.5em;
}

.info {
  font-size: 2.5em;
}
