.wrapper {
  text-align: center;
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: auto auto auto;
}

.dropbtn {
  background-color: #CC3E33;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 160px;
  border-radius: 5px;
}

.dropbtn ::after {
  content: "";
  width: 0; 
  height: 0; 
  position: absolute;
  top: 45%;
  right: 15px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 192px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FF7F00;
}