.App {
  text-align: center;
}

header {
  padding: 50px;
  font-size: x-large;
}

.newsfeed {
  height: 44px;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 4px solid #CC3E33;
}

.newsfeed > * {
  margin: 0px;
  height: 100px;
}

.cnalogo {
  float: left;
  height: 24px;
  width: 82px;
  padding: 10px;
  background-color: #ffffff;
}

.ticker__element {
  height: 44px;
  font-size: 36px;
}