@font-face {
  font-family: Gilroy-ExtraBold;
  src: url('./assets/fonts/Gilroy-ExtraBold.woff');
}

body {
  margin: 0;
  background-image: linear-gradient(to left, #232526 0%, #414345 100%);
  font-family: Gilroy-ExtraBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
